.top,body {
    width: 100%;
    background-color: #000;
    top: 0
}

body {
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    height: auto
}

#need,.top {
    position: absolute;
    left: 0;
    right: 0
}

.top {
    height: 50px
}

#need,#tacos {
    color: #fff;
    font-family: 'Handlee',sans-serif
}

#need {
    text-align: center;
    top: -7px;
    font-size: 19px
}

#tacos {
    -webkit-appearance: none;
    text-decoration: none;
    top: -10px;
    font-size: 17px;
    border-radius: 2px;
    height: 30px;
    width: 130px;
    border-color: transparent;
    background-color: #b51a00;
    cursor: pointer;
    outline: none
}

#siteimg {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 400px;
    background-image: url(http://i.imgur.com/M9WnfSa.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat
}

#logoimg {
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: transparent
}

img {
    position: relative;
    height: 150px;
    width: 300px;
    border-radius: 10px
}

#logoimg,.menuwrap {
    position: absolute
}

.littleme p {
    text-align: right
}

.littleme,.menuwrap,.toggle,[id^=drop] {
    display: none
}

.littleme {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: right;
    margin: 0;
    padding: 0;
    position: absolute
}

.littleme:after {
    content: "";
    display: table;
    clear: both
}

.littleme ul {
    padding: 0;
    left: -6%;
    right: 6%;
    list-style: none;
    position: relative;
    text-align: center
}

.littleme a,.littleme ul li {
    text-align: center;
    opacity: 1;
    display: block;
    background-color: #b51a00
}

.littleme ul li {
    height: auto;
    width: 100%;
    left: -6%;
    right: 6%
}

.littleme a {
    left: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    text-decoration: none
}

.littleme li>a:after {
    content: ' +'
}

.littleme li>a:only-child:after {
    content: ''
}

.menu {
    position: absolute;
    text-align: center;
    top: 450px;
    left: 0;
    right: 0;
    width: 100%;
    height: 95px;
    z-index: 10000;
    background-color: #000
}

#menutext,.toma {
    position: relative
}

.toma {
    height: 30px;
    width: 30px;
    background-color: #000;
    opacity: 0;
    top: 5px
}

#menutext {
    left: -40px;
    right: 0;
    top: -5px;
    bottom: 0;
    list-style: none;
    font-family: 'Handlee',sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: center
}

.fixed,.info {
    left: 0;
    width: 100%
}

.fixed {
    position: fixed;
    right: 0;
    top: 0;
    height: 95px
}

li {
    display: inline;
    padding: 0 30px
}

a {
    text-decoration: none;
    outline: none;
    color: #fff
}

a:hover .toma {
    opacity: 1;
    transition: .7s
}

.info {
    top: 590px;
    height: 750px;
    z-index: 1001;
    background-color: #000
}

#formhead,#taquiza,.info {
    position: absolute;
    right: 0
}

#formhead {
    text-align: center;
    font-size: 36px;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    z-index: 5000;
    left: 0;
    top: 10px
}

#taquiza {
    top: 150px;
    height: 500px;
    left: 50%
}

#jppic,#otherside {
    position: absolute;
    top: 90px;
    left: 0;
    height: 700px;
    right: 50%
}

#jppic {
    left: 30px;
    top: 100px;
    right: 30px;
    width: 80%;
    height: 400px;
    background-image: url(http://i.imgur.com/yyCprzF.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 60px
}

#tacostwo {
    -webkit-appearance: none;
    position: absolute;
    left: 17%;
    right: 0;
    height: 35px;
    width: 170px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    top: 640px;
    font-size: 22px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #b51a00;
    font-family: 'Handlee',sans-serif;
    cursor: pointer;
    outline: none
}

#diffin2,#taquizatext {
    position: absolute;
    left: 0;
    right: 0
}

#taquizatext {
    text-align: center;
    font-size: 32px;
    color: #b51a00;
    top: 0;
    font-family: 'Handlee',sans-serif
}

#diffin2 {
    top: 75px;
    font-family: 'Material Icons',sans-serif
}

#diffin2,#diffin3,#include {
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100
}

#include {
    position: absolute;
    right: 0;
    left: 40px;
    top: 70px;
    font-family: 'Open Sans Condensed',sans-serif
}

#diffin3 {
    left: 0;
    top: 105px;
    font-family: 'Material Icons',sans-serif
}

#diffin3,#diffin4,#include2 {
    position: absolute;
    right: 0
}

#include2 {
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    left: 40px;
    top: 100px;
    font-family: 'Open Sans Condensed',sans-serif
}

#diffin4 {
    left: 0;
    top: 135px;
    font-family: 'Material Icons',sans-serif
}

#diffin4,#diffin5,#include3 {
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100
}

#include3 {
    position: absolute;
    right: 0;
    left: 40px;
    top: 130px;
    font-family: 'Open Sans Condensed',sans-serif
}

#diffin5 {
    left: 0;
    top: 165px;
    font-family: 'Material Icons',sans-serif
}

#diffin5,#diffin6,#include4 {
    position: absolute;
    right: 0
}

#include4 {
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    left: 40px;
    top: 160px;
    font-family: 'Open Sans Condensed',sans-serif
}

#diffin6 {
    left: 0;
    top: 195px;
    font-family: 'Material Icons',sans-serif
}

#diffin6,#diffin7,#include5 {
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100
}

#include5 {
    position: absolute;
    right: 0;
    left: 40px;
    top: 190px;
    font-family: 'Open Sans Condensed',sans-serif
}

#diffin7 {
    left: 0;
    top: 225px;
    font-family: 'Material Icons',sans-serif
}

#diffin7,#diffin8,#include6 {
    position: absolute;
    right: 0
}

#include6 {
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    left: 40px;
    top: 220px;
    font-family: 'Open Sans Condensed',sans-serif
}

#diffin8 {
    left: 0;
    top: 255px;
    font-family: 'Material Icons',sans-serif
}

#diffin8,#diffin9,#include7 {
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100
}

#include7 {
    position: absolute;
    right: 0;
    left: 40px;
    top: 250px;
    font-family: 'Open Sans Condensed',sans-serif
}

#diffin9 {
    left: 0;
    top: 285px;
    font-family: 'Material Icons',sans-serif
}

#diffin10,#diffin9,#include8 {
    position: absolute;
    right: 0
}

#include8 {
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    left: 40px;
    top: 280px;
    font-family: 'Open Sans Condensed',sans-serif
}

#diffin10 {
    left: 0;
    top: 315px;
    font-family: 'Material Icons',sans-serif
}

#diffin10,#diffin11,#include9 {
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100
}

#include9 {
    position: absolute;
    right: 0;
    left: 40px;
    top: 310px;
    font-family: 'Open Sans Condensed',sans-serif
}

#diffin11 {
    left: 0;
    top: 345px;
    font-family: 'Material Icons',sans-serif
}

#diffin11,#diffin12,#include10 {
    position: absolute;
    right: 0
}

#include10 {
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    left: 40px;
    top: 340px;
    font-family: 'Open Sans Condensed',sans-serif
}

#diffin12 {
    left: 0;
    top: 375px;
    font-family: 'Material Icons',sans-serif
}

#diffin12,#diffin13,#include11 {
    text-align: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100
}

#include11 {
    position: absolute;
    right: 0;
    left: 40px;
    top: 370px;
    font-family: 'Open Sans Condensed',sans-serif
}

#diffin13 {
    left: 0;
    top: 405px;
    font-family: 'Material Icons',sans-serif
}

#botstuff,#diffin13,#include12 {
    position: absolute;
    right: 0
}

#include12 {
    text-align: left;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    left: 40px;
    top: 400px
}

#botstuff {
    left: 0;
    width: 100%;
    height: 300px;
    top: 1500px
}

#colmail,#colnum,#con,#mail,#numba {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    font-size: 26px
}

#colmail,#colnum,#mail,#numba {
    left: -140px;
    top: 90px;
    font-size: 22px
}

#colmail,#colnum,#mail {
    left: 60px;
    color: #b51a00
}

#colmail,#mail {
    left: -212px;
    top: 140px;
    color: #fff
}

#colmail {
    left: 60px;
    color: #b51a00
}

#imgbotl,#imgleft {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 8000
}

#imgbotl {
    right: 0;
    top: -30px;
    height: 300px;
    width: 400px;
    background-image: url(http://i.imgur.com/cBAFUZv.png)
}

#imgleft {
    left: 45px;
    top: 35px;
    height: 150px;
    width: 300px;
    background-image: url(http://i.imgur.com/Gj3MwMA.jpg);
    border-radius: 70px
}

#bottom,.menutwo {
    position: absolute;
    left: 0;
    right: 0
}

#bottom {
    height: 100px;
    z-index: 8000;
    top: 1730px
}

.menutwo {
    top: 10%;
    width: 100%;
    bottom: 0
}

#endstuf,#menutexttwo {
    position: absolute;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    right: 0;
    text-align: center
}

#menutexttwo {
    bottom: 0;
    list-style: none;
    vertical-align: middle;
    left: -80px;
    top: 20%;
    font-size: 15px
}

#endstuf {
    font-size: 14px;
    top: 110%;
    left: 0;
    z-index: 8000
}

@media all and (max-width:1024px) {
    .top,body {
        width: 100%;
        background-color: #000
    }

    body {
        left: 0;
        right: 0;
        bottom: 0;
        overflow: visible;
        top: 0;
        height: auto
    }

    #need,.top {
        position: absolute;
        left: 0;
        right: 0
    }

    .top {
        height: 50px;
        top: 50px
    }

    #need,#tacos {
        color: #fff;
        font-family: 'Handlee',sans-serif
    }

    #need {
        text-align: center;
        top: -15px;
        font-size: 26px
    }

    #tacos {
        -webkit-appearance: none;
        text-decoration: none;
        top: -10px;
        font-size: 23px;
        border-radius: 2px;
        height: 30px;
        width: 190px;
        border-color: transparent;
        background-color: #b51a00;
        cursor: pointer;
        outline: none
    }

    #siteimg {
        top: 140px;
        left: 0;
        right: 0;
        height: 310px;
        background-image: url(http://i.imgur.com/M9WnfSa.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat
    }

    #logoimg,#siteimg,.menu {
        position: absolute
    }

    #logoimg {
        top: 30%;
        left: 0;
        right: 0;
        text-align: center;
        height: auto;
        width: 100%;
        background-color: transparent
    }

    img {
        position: relative;
        height: 150px;
        width: 300px;
        border-radius: 10px
    }

    .menu {
        display: none
    }

    .littleme,.menuwrap {
        left: 0;
        right: 0;
        height: 50px
    }

    #alm,.menuwrap {
        top: 0;
        z-index: 10001
    }

    .menuwrap {
        transform: translate3d(0,0,0);
        width: 100%;
        display: inline;
        position: fixed
    }

    #alm {
        position: absolute;
        height: 48px;
        left: 0
    }

    #alm2 {
        height: 48px;
        width: 140px
    }

    .littleme {
        display: initial;
        text-align: center;
        z-index: 10000;
        overflow: visible;
        background-color: #000;
        opacity: 1;
        margin: 0
    }

    .othermenu,.toggle,.toggle+a {
        display: none;
        left: 0;
        right: 0;
        text-align: center
    }

    .toggle {
        display: block;
        text-align: right;
        background-color: #000;
        opacity: 1;
        top: 3px;
        position: absolute;
        color: #b51a00;
        font-size: 48px;
        font-weight: 100;
        line-height: 45px;
        text-decoration: none;
        font-family: 'Material Icons',sans-serif;
        z-index: 7000
    }

    #drop:checked+label {
        color: #b51a00
    }

    [id^=drop]:checked+label+ul {
        display: block
    }

    #formhead,.littleme ul li {
        text-align: center;
        font-family: 'Handlee',sans-serif
    }

    .littleme ul li {
        display: block;
        left: -7.5%;
        right: 7.5%;
        width: 100%;
        border: none;
        z-index: 6000
    }

    .littleme ul {
        padding: 0;
        left: -7.5%;
        right: 7.5%;
        list-style: none;
        position: relative;
        text-align: center
    }

    .info {
        top: 590px;
        height: 750px;
        width: 100%;
        z-index: 1001;
        background-color: #000
    }

    #formhead,#otherside,#taquiza,.info {
        position: absolute;
        right: 0;
        left: 0
    }

    #formhead {
        font-size: 36px;
        color: #fff;
        z-index: 5000;
        top: 10px
    }

    #otherside,#taquiza {
        top: 150px;
        height: 500px
    }

    #otherside {
        top: 90px;
        height: 700px;
        right: 50%
    }

    #jppic {
        position: absolute;
        display: none
    }

    #tacostwo,#taquizatext {
        left: 0;
        text-align: center;
        font-family: 'Handlee',sans-serif
    }

    #tacostwo {
        display: block;
        margin: auto;
        -webkit-appearance: none;
        position: absolute;
        right: 0;
        text-decoration: none;
        height: 35px;
        width: 180px;
        border-radius: 5px;
        border-color: transparent;
        background-color: #b51a00;
        cursor: pointer;
        outline: none;
        color: #fff;
        top: 680px;
        font-size: 22px
    }

    #taquizatext {
        top: 0;
        font-size: 32px;
        color: #b51a00
    }

    #diffin2,#include,#taquizatext {
        position: absolute;
        right: 0
    }

    #diffin2 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100;
        left: 0;
        top: 75px;
        font-family: 'Material Icons',sans-serif
    }

    #include {
        left: 40px;
        top: 70px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #diffin3,#include,#include2 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100
    }

    #diffin3 {
        position: absolute;
        right: 0;
        left: 0;
        top: 105px;
        font-family: 'Material Icons',sans-serif
    }

    #include2 {
        left: 40px;
        top: 100px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #diffin4,#include2,#include3 {
        position: absolute;
        right: 0
    }

    #diffin4 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100;
        left: 0;
        top: 135px;
        font-family: 'Material Icons',sans-serif
    }

    #include3 {
        left: 40px;
        top: 130px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #diffin5,#include3,#include4 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100
    }

    #diffin5 {
        position: absolute;
        right: 0;
        left: 0;
        top: 165px;
        font-family: 'Material Icons',sans-serif
    }

    #include4 {
        left: 40px;
        top: 160px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #diffin6,#include4,#include5 {
        position: absolute;
        right: 0
    }

    #diffin6 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100;
        left: 0;
        top: 195px;
        font-family: 'Material Icons',sans-serif
    }

    #include5 {
        left: 40px;
        top: 190px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #diffin7,#include5,#include6 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100
    }

    #diffin7 {
        position: absolute;
        right: 0;
        left: 0;
        top: 225px;
        font-family: 'Material Icons',sans-serif
    }

    #include6 {
        left: 40px;
        top: 220px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #diffin8,#include6,#include7 {
        position: absolute;
        right: 0
    }

    #diffin8 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100;
        left: 0;
        top: 255px;
        font-family: 'Material Icons',sans-serif
    }

    #include7 {
        left: 40px;
        top: 250px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #diffin9,#include7,#include8 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100
    }

    #diffin9 {
        position: absolute;
        right: 0;
        left: 0;
        top: 285px;
        font-family: 'Material Icons',sans-serif
    }

    #include8 {
        left: 40px;
        top: 280px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #diffin10,#include8,#include9 {
        position: absolute;
        right: 0
    }

    #diffin10 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100;
        left: 0;
        top: 315px;
        font-family: 'Material Icons',sans-serif
    }

    #include9 {
        left: 40px;
        top: 310px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #diffin11,#include10,#include9 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100
    }

    #diffin11 {
        position: absolute;
        right: 0;
        left: 0;
        top: 345px;
        font-family: 'Material Icons',sans-serif
    }

    #include10 {
        left: 40px;
        top: 340px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #diffin12,#include10,#include11 {
        position: absolute;
        right: 0
    }

    #diffin12 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100;
        left: 0;
        top: 375px;
        font-family: 'Material Icons',sans-serif
    }

    #include11 {
        left: 40px;
        top: 370px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #diffin13,#include11,#include12 {
        text-align: left;
        font-size: 19px;
        color: #fff;
        font-weight: 100
    }

    #diffin13 {
        position: absolute;
        right: 0;
        left: 0;
        top: 405px;
        font-family: 'Material Icons',sans-serif
    }

    #include12 {
        left: 40px;
        top: 400px;
        font-family: 'Open Sans Condensed',sans-serif
    }

    #botstuff,#con,#include12,#numba {
        position: absolute;
        right: 0
    }

    #botstuff {
        left: 0;
        width: 100%;
        height: 300px;
        top: 1500px
    }

    #con,#numba {
        text-align: center;
        color: #fff
    }

    #con {
        font-family: 'Handlee',sans-serif;
        font-size: 29px;
        top: -140px;
        left: 0
    }

    #numba {
        left: -140px;
        top: -70px
    }

    #colnum,#mail,#numba {
        font-family: 'Handlee',sans-serif;
        font-size: 22px
    }

    #colnum {
        position: absolute;
        right: 0;
        text-align: center;
        left: 60px;
        top: -70px;
        color: #b51a00
    }

    #mail {
        left: -212px;
        top: -30px;
        color: #fff
    }

    #colmail,#imgbotl,#mail {
        position: absolute;
        right: 0;
        text-align: center
    }

    #colmail {
        font-family: 'Handlee',sans-serif;
        color: #b51a00;
        font-size: 22px;
        left: 60px;
        top: -30px
    }

    #imgbotl {
        left: 12%;
        top: 90px;
        height: 150px;
        width: 300px;
        background-image: url(http://i.imgur.com/cBAFUZv.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 8000
    }

    #imgleft,.menutwo {
        position: absolute;
        display: none
    }

    #bottom,#endstuf {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 8000
    }

    #bottom {
        height: 100px;
        top: 1730px
    }

    a[href^=tel] {
        color: inherit;
        text-decoration: none
    }

    #endstuf {
        font-family: 'Handlee',sans-serif;
        font-size: 14px;
        color: #fff;
        top: 110%;
        text-align: center
    }
}
