body {
    height: auto;
    width: 100%;
    overflow: visible;
    background-color: #000;
    margin: auto
}

#spoon {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 1050px;
    height: 260px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(http://i.imgur.com/OdTsPfs.png);
    background-size: 100%;
    z-index: 1000;
    text-align: center;
    margin: auto;
    background-color: transparent;
    transition: .5s
}

#wood {
    right: 30px;
    top: 630px;
    height: 330px;
    width: 250px;
    background-image: url(http://i.imgur.com/9YT2VWW.png);
    transition: .8s
}

#green,#guisosdoe,#rice,#wood {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1000;
    background-color: transparent;
    display: none
}

#green {
    left: 20px;
    top: 670px;
    background-image: url(http://i.imgur.com/WpmxPPP.png);
    height: 200px;
    width: 290px;
    transition: .6s
}

#guisosdoe,#rice {
    height: 330px;
    width: 250px;
    transition: .8s
}

#guisosdoe {
    left: 40px;
    top: 1540px;
    background-image: url(http://i.imgur.com/dRy6YJv.png)
}

#rice {
    right: 10px;
    top: 1800px;
    background-image: url(http://i.imgur.com/NEFd4YV.png)
}

#need,.top {
    position: absolute;
    left: 0;
    right: 0
}

.top {
    height: 50px;
    width: 100%;
    background-color: #000;
    opacity: 1;
    overflow: hidden;
    top: 0
}

#need,#tacos {
    color: #fff;
    font-family: 'Handlee',sans-serif
}

#need {
    text-align: center;
    top: -7px;
    font-size: 19px
}

#tacos {
    -webkit-appearance: none;
    text-decoration: none;
    top: -10px;
    font-size: 17px;
    border-radius: 2px;
    height: 30px;
    width: 130px;
    border-color: transparent;
    background-color: #b51a00;
    cursor: pointer;
    outline: none
}

#logoimg,#siteimg {
    left: 0;
    right: 0;
    width: 100%
}

#siteimg {
    position: absolute;
    background-image: url(http://i.imgur.com/m3YnLVc.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    top: 50px;
    height: 400px
}

#logoimg {
    top: 30%;
    text-align: center;
    height: auto;
    background-color: transparent
}

img {
    position: relative;
    height: 150px;
    width: 300px;
    border-radius: 10px
}

#logoimg,.menuwrap {
    position: absolute
}

.littleme p {
    text-align: right
}

.littleme,.menuwrap,.toggle,[id^=drop] {
    display: none
}

.littleme {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: right;
    margin: 0;
    padding: 0;
    position: absolute
}

.littleme:after {
    content: "";
    display: table;
    clear: both
}

.littleme ul {
    padding: 0;
    left: -6%;
    right: 6%;
    list-style: none;
    position: relative;
    text-align: center
}

.littleme a,.littleme ul li {
    text-align: center;
    opacity: 1;
    display: block;
    background-color: #b51a00
}

.littleme ul li {
    height: auto;
    width: 100%;
    left: -6%;
    right: 6%
}

.littleme a {
    left: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    text-decoration: none
}

.littleme li>a:after {
    content: ' +'
}

.littleme li>a:only-child:after {
    content: ''
}

.menu,.toma {
    background-color: #000
}

.menu {
    left: 0;
    right: 0;
    z-index: 7000;
    overflow: hidden;
    position: absolute;
    top: 450px;
    width: 100%;
    height: 95px
}

.toma {
    position: relative;
    height: 30px;
    width: 30px;
    top: 5px;
    opacity: 0
}

#menutext {
    position: absolute;
    overflow: hidden;
    left: -80px;
    right: 0;
    top: -5px;
    bottom: 0;
    list-style: none;
    font-family: 'Handlee',sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
    vertical-align: middle
}

li {
    display: inline;
    padding: 0 30px
}

a {
    text-decoration: none;
    outline: none;
    color: #fff
}

a:hover .toma {
    opacity: 1;
    top: 5px;
    transition: .7s
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 95px
}

.info {
    top: 580px;
    height: 2650px;
    width: 100%;
    z-index: 1001;
    background-color: transparent;
    transition: ease-out .4s all;
    overflow: hidden
}

#container {
    top: 450px;
    height: 2700px;
    background-image: url(http://i.imgur.com/FZDtDqG.jpg);
    background-position: center;
    background-repeat: repeat;
    opacity: .6;
    overflow: hidden
}

#container,#formhead,#taquiza,.info {
    position: absolute;
    left: 0;
    right: 0
}

#formhead {
    text-align: center;
    font-size: 42px;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    z-index: 5000;
    top: 10px
}

#taquiza {
    top: 130px;
    height: 1000px;
    transition: .5s ease-out
}

#tacova,#taquizatext,.include {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 42px;
    color: #b51a00
}

#tacova,.include {
    top: 55px;
    font-size: 29px;
    color: #fff
}

#tacova {
    left: -15px;
    top: 150px;
    font-size: 25px;
    z-index: 3000
}

#difftacova {
    left: -380px;
    top: 153px;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#diffmeat,#difftacova,#meat,#salsa {
    position: absolute;
    right: 0;
    text-align: center;
    color: #fff
}

#meat {
    z-index: 3000;
    left: -65px;
    top: 180px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px
}

#diffmeat,#salsa {
    left: -380px;
    top: 183px;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#salsa {
    left: 5px;
    top: 210px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    z-index: 3000
}

#diffsalsa {
    left: -380px;
    top: 213px;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#agua,#diffsalsa,#diffsides,#sides {
    position: absolute;
    right: 0;
    text-align: center;
    color: #fff
}

#sides {
    z-index: 3000;
    left: -105px;
    top: 240px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px
}

#agua,#diffsides {
    left: -380px;
    top: 243px;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#agua {
    left: -138px;
    top: 270px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    z-index: 3000
}

#diffagua {
    left: -380px;
    top: 273px;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#cups,#diffagua,#diffcups,#typesof {
    position: absolute;
    right: 0;
    text-align: center;
    color: #fff
}

#cups {
    z-index: 3000;
    left: 0;
    top: 300px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px
}

#diffcups,#typesof {
    left: -380px;
    top: 303px;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#typesof {
    left: 0;
    right: 50%;
    top: 385px;
    font-family: 'Handlee',sans-serif;
    font-size: 29px;
    text-decoration: underline;
    z-index: 3000
}

#asada {
    left: 0;
    right: 50%;
    top: 440px;
    font-size: 25px
}

#asada,#chick,#tripas {
    position: absolute;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    z-index: 3000
}

#tripas {
    left: 0;
    right: 50%;
    font-size: 25px;
    top: 470px
}

#chick {
    top: 500px
}

#ado,#chick,#rizo {
    left: 0;
    right: 50%;
    font-size: 25px
}

#ado {
    position: absolute;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    z-index: 3000;
    top: 530px
}

#rizo {
    top: 560px
}

#nita,#rizo,#soy {
    position: absolute;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    z-index: 3000
}

#soy {
    left: 0;
    right: 50%;
    font-size: 25px;
    top: 590px
}

#nita {
    top: 620px
}

#beza,#gua,#nita {
    left: 0;
    right: 50%;
    font-size: 25px
}

#beza {
    position: absolute;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    z-index: 3000;
    top: 650px
}

#gua {
    top: 680px
}

#ceb,#gua,#hor,#waterof {
    position: absolute;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    z-index: 3000
}

#waterof {
    left: 50%;
    right: 0;
    top: 385px;
    text-decoration: underline;
    font-size: 29px
}

#ceb,#hor {
    font-size: 25px
}

#hor {
    left: 50%;
    right: 0;
    top: 440px
}

#ceb {
    top: 470px
}

#ceb,#jam,#lim {
    left: 50%;
    right: 0
}

#jam {
    position: absolute;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    color: #fff;
    z-index: 3000;
    top: 500px
}

#lim {
    top: 530px
}

#lim,#melon,#pina {
    position: absolute;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    color: #fff;
    z-index: 3000
}

#melon {
    left: 50%;
    right: 0;
    top: 560px
}

#pina {
    top: 590px
}

#pina,#san,#tama {
    left: 50%;
    right: 0
}

#san {
    position: absolute;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    color: #fff;
    z-index: 3000;
    top: 620px
}

#tama {
    top: 650px
}

#costr,#fres,#peopler,#tama {
    position: absolute;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    color: #fff;
    z-index: 3000
}

#fres {
    top: 680px;
    left: 50%;
    right: 0
}

#costr,#peopler {
    left: -90px;
    right: 50%
}

#peopler {
    text-decoration: underline;
    top: 825px
}

#costr {
    top: 865px
}

#seventyr {
    left: 0;
    right: 0;
    top: 825px;
    text-decoration: underline
}

#hunedcostr,#hunedr,#seventycostr,#seventyr {
    position: absolute;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    color: #fff;
    z-index: 3000
}

#seventycostr {
    top: 865px;
    left: 0;
    right: 0
}

#hunedcostr,#hunedr {
    left: 50%;
    right: -90px
}

#hunedr {
    text-decoration: underline;
    top: 825px
}

#hunedcostr {
    top: 865px
}

#guisos,#guisostext {
    position: absolute;
    left: 0;
    right: 0
}

#guisos {
    height: 600px;
    top: 1130px
}

#guisostext {
    top: 0;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 42px;
    color: #b51a00
}

#bistec,#diffbistec {
    position: absolute;
    right: 0;
    color: #fff
}

#bistec {
    z-index: 3000;
    left: 350px;
    top: 140px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px
}

#diffbistec {
    left: -670px;
    top: 143px;
    text-align: center;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#cochi {
    left: 350px;
    top: 170px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    z-index: 3000
}

#cochi,#diffcochi,#rajas {
    position: absolute;
    right: 0;
    color: #fff
}

#diffcochi {
    text-align: center;
    left: -670px;
    top: 173px;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#rajas {
    left: 350px;
    top: 200px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    z-index: 3000
}

#diffrajas {
    left: -670px;
    right: 0;
    top: 203px;
    text-align: center;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#chich,#diffchich,#diffrajas,#mar {
    position: absolute;
    color: #fff
}

#chich {
    left: 350px;
    top: 230px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    z-index: 3000
}

#diffchich,#mar {
    right: 0
}

#diffchich {
    text-align: center;
    left: -670px;
    top: 233px;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#mar {
    left: 350px;
    top: 260px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    z-index: 3000
}

#diffmar {
    left: -670px;
    top: 263px;
    text-align: center;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#diffmar,#diffrijol,#frijol {
    position: absolute;
    right: 0;
    color: #fff
}

#frijol {
    z-index: 3000;
    left: 350px;
    top: 290px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px
}

#diffrijol {
    left: -670px;
    top: 293px;
    text-align: center;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#pollo {
    left: 350px;
    top: 320px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    z-index: 3000
}

#diffpollo,#pollo,#tinga {
    position: absolute;
    right: 0;
    color: #fff
}

#diffpollo {
    text-align: center;
    left: -670px;
    top: 323px;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#tinga {
    left: 350px;
    top: 350px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    z-index: 3000
}

#difftinga {
    left: -670px;
    top: 353px;
    text-align: center;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#cama,#diffcama,#difftinga {
    position: absolute;
    right: 0;
    color: #fff
}

#cama {
    z-index: 3000;
    left: 350px;
    top: 380px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px
}

#diffcama {
    left: -670px;
    top: 383px;
    text-align: center;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#puer {
    left: 350px;
    top: 410px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    z-index: 3000
}

#diffpuer,#mach,#puer {
    position: absolute;
    right: 0;
    color: #fff
}

#diffpuer {
    text-align: center;
    left: -670px;
    top: 413px;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#mach {
    left: 350px;
    top: 440px;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    z-index: 3000
}

#cost,#diffmach,#people {
    position: absolute;
    text-align: center;
    color: #fff
}

#diffmach {
    top: 443px;
    left: -670px;
    right: 0;
    font-family: 'Material Icons',sans-serif;
    font-size: 23px
}

#cost,#people {
    left: -90px;
    right: 50%;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    z-index: 3000
}

#people {
    text-decoration: underline;
    top: 545px
}

#cost {
    top: 585px
}

#seventy {
    left: 0;
    right: 0;
    top: 545px;
    text-decoration: underline
}

#huned,#hunedcost,#seventy,#seventycost {
    position: absolute;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    color: #fff;
    z-index: 3000
}

#seventycost {
    top: 585px;
    left: 0;
    right: 0
}

#huned,#hunedcost {
    left: 50%;
    right: -90px
}

#huned {
    text-decoration: underline;
    top: 545px
}

#hunedcost {
    top: 585px
}

#extras {
    position: absolute;
    top: 1860px;
    left: 0;
    height: 400px;
    right: 0
}

#extrastext {
    left: 0;
    top: 0;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 42px;
    color: #b51a00
}

#creme,#extrastext,#guac {
    position: absolute;
    right: 0
}

#guac {
    left: 0;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    color: #fff;
    top: 150px
}

#creme {
    top: 210px
}

#arro,#choco,#creme {
    left: 0;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 25px;
    color: #fff
}

#choco {
    position: absolute;
    right: 0;
    top: 270px
}

#arro {
    top: 330px
}

#arro,#bottom,#tacostwo {
    position: absolute;
    right: 0
}

#tacostwo {
    -webkit-appearance: none;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    border-radius: 8px;
    width: 170px;
    border-color: transparent;
    font-family: 'Handlee',sans-serif;
    cursor: pointer;
    outline: none;
    left: 45%;
    top: 500px;
    height: 50px;
    background-color: #b51a00
}

#bottom {
    top: 2930px;
    left: 0;
    height: 390px;
    z-index: 8000;
    overflow: hidden;
    background-color: #000
}

#menutexttwo,.menutwo {
    position: absolute;
    right: 0;
    bottom: 0
}

.menutwo {
    width: 100%;
    background-color: #000;
    top: 250px;
    left: 0
}

#menutexttwo {
    left: -80px;
    top: 20%;
    list-style: none;
    font-family: 'Handlee',sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
    vertical-align: middle
}

#endstuf,#imgbotl,#imgleft {
    position: absolute;
    z-index: 8000
}

#endstuf {
    font-family: 'Handlee',sans-serif;
    font-size: 14px;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #000
}

#imgbotl,#imgleft {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%
}

#imgbotl {
    right: 0;
    top: -30px;
    height: 300px;
    width: 400px;
    background-image: url(http://i.imgur.com/cBAFUZv.png)
}

#imgleft {
    left: 45px;
    top: 35px;
    height: 150px;
    width: 300px;
    background-image: url(http://i.imgur.com/8siXjwQ.jpg);
    border-radius: 120px;
    background-color: #ff0
}

#colmail,#colnum,#con,#mail,#numba {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    font-size: 26px
}

#colmail,#colnum,#mail,#numba {
    left: -140px;
    top: 90px;
    font-size: 22px
}

#colmail,#colnum,#mail {
    left: 60px;
    color: #b51a00
}

#colmail,#mail {
    left: -212px;
    top: 140px;
    color: #fff
}

#colmail {
    left: 60px;
    color: #b51a00
}

@media all and (max-width:1024px) {
    body {
        height: 4000px;
        width: 100%;
        right: 0;
        left: 0;
        overflow: visible;
        background-color: #000
    }

    #green,#guisosdoe,#rice,#spoon,#wood {
        position: absolute;
        display: none
    }

    #need,.top {
        position: absolute;
        left: 0;
        right: 0
    }

    .top {
        height: 90px;
        width: 100%;
        background-color: #000;
        opacity: 1;
        z-index: 700;
        overflow: hidde;
        top: 50px
    }

    #need,#tacos {
        color: #fff;
        font-family: 'Handlee',sans-serif
    }

    #need {
        text-align: center;
        top: -15px;
        font-size: 26px
    }

    #tacos {
        -webkit-appearance: none;
        text-decoration: none;
        top: -10px;
        font-size: 23px;
        border-radius: 2px;
        height: 30px;
        width: 190px;
        border-color: transparent;
        background-color: #b51a00;
        cursor: pointer;
        outline: none
    }

    #siteimg {
        top: 50px;
        left: 0;
        right: 0;
        height: 400px;
        background-image: url(http://i.imgur.com/4Tufqja.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat
    }

    #logoimg,#siteimg,.menu {
        position: absolute
    }

    #logoimg {
        top: 30%;
        left: 0;
        right: 0;
        text-align: center;
        height: auto;
        width: 100%;
        background-color: transparent
    }

    img {
        position: relative;
        height: 150px;
        width: 300px;
        border-radius: 10px
    }

    .menu {
        display: none
    }

    .littleme,.menuwrap {
        left: 0;
        right: 0;
        height: 50px
    }

    #alm,.menuwrap {
        top: 0;
        z-index: 10001
    }

    .menuwrap {
        transform: translate3d(0,0,0);
        width: 100%;
        display: inline;
        position: fixed
    }

    #alm {
        position: absolute;
        height: 48px;
        left: 0
    }

    #alm2 {
        height: 48px;
        width: 140px
    }

    .littleme {
        display: initial;
        text-align: center;
        z-index: 10000;
        overflow: visible;
        background-color: #000;
        opacity: 1;
        margin: 0
    }

    .othermenu,.toggle,.toggle+a {
        display: none;
        left: 0;
        right: 0;
        text-align: center
    }

    .toggle {
        display: block;
        text-align: right;
        background-color: #000;
        opacity: 1;
        top: 3px;
        position: absolute;
        color: #b51a00;
        font-size: 48px;
        font-weight: 100;
        line-height: 45px;
        text-decoration: none;
        font-family: 'Material Icons',sans-serif;
        z-index: 7000
    }

    #drop:checked+label {
        color: #b51a00
    }

    [id^=drop]:checked+label+ul {
        display: block
    }

    .littleme ul,.littleme ul li {
        left: -7.5%;
        right: 7.5%;
        text-align: center
    }

    .littleme ul li {
        display: block;
        width: 100%;
        z-index: 6000;
        border: none;
        font-family: 'Handlee',sans-serif
    }

    .littleme ul {
        padding: 0;
        list-style: none;
        position: relative
    }

    #container,.info {
        width: 100%;
        height: 3150px;
        overflow: hidden
    }

    .info {
        z-index: 1001;
        background-color: transparent;
        transition: ease-out .4s all;
        top: 550px
    }

    #container {
        top: 450px;
        background-image: url(http://i.imgur.com/FZDtDqG.jpg);
        background-position: center;
        background-repeat: repeat;
        opacity: .6
    }

    #container,#formhead,#taquiza,.info {
        position: absolute;
        left: 0;
        right: 0
    }

    #formhead {
        text-align: center;
        font-size: 42px;
        font-family: 'Handlee',sans-serif;
        color: #fff;
        z-index: 5000;
        top: 10px
    }

    #taquiza {
        top: 130px;
        height: 1000px;
        transition: .5s ease-out
    }

    #tacova,#taquizatext,.include {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        font-size: 42px;
        color: #b51a00
    }

    #tacova,.include {
        top: 55px;
        font-size: 29px;
        color: #fff
    }

    #tacova {
        left: -15px;
        top: 150px;
        font-size: 25px;
        z-index: 3000
    }

    #difftacova {
        left: -340px;
        top: 153px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #diffmeat,#difftacova,#meat,#salsa {
        position: absolute;
        right: 0;
        text-align: center;
        color: #fff
    }

    #meat {
        z-index: 3000;
        left: -65px;
        top: 180px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px
    }

    #diffmeat,#salsa {
        left: -340px;
        top: 183px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #salsa {
        left: 10px;
        top: 210px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px;
        z-index: 3000
    }

    #diffsalsa {
        left: -340px;
        top: 213px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #agua,#diffsalsa,#diffsides,#sides {
        position: absolute;
        right: 0;
        text-align: center;
        color: #fff
    }

    #sides {
        z-index: 3000;
        left: -100px;
        top: 240px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px
    }

    #agua,#diffsides {
        left: -340px;
        top: 243px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #agua {
        left: -135px;
        top: 270px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px;
        z-index: 3000
    }

    #diffagua {
        left: -340px;
        top: 273px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #cups,#diffagua,#diffcups {
        position: absolute;
        right: 0;
        text-align: center;
        color: #fff
    }

    #cups {
        z-index: 3000;
        left: 0;
        top: 300px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px
    }

    #diffcups {
        left: -340px;
        top: 303px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #ado,#asada,#beza,#chick,#gua,#nita,#rizo,#soy,#tripas,#typesof {
        position: absolute;
        left: 0;
        right: 50%;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        color: #fff;
        z-index: 3000
    }

    #typesof {
        text-decoration: underline;
        top: 385px;
        font-size: 24px
    }

    #ado,#asada,#beza,#chick,#gua,#nita,#rizo,#soy,#tripas {
        top: 440px;
        font-size: 20px
    }

    #ado,#beza,#chick,#gua,#nita,#rizo,#soy,#tripas {
        top: 470px
    }

    #ado,#beza,#chick,#gua,#nita,#rizo,#soy {
        top: 500px
    }

    #ado,#beza,#gua,#nita,#rizo,#soy {
        top: 530px
    }

    #beza,#gua,#nita,#rizo,#soy {
        top: 560px
    }

    #beza,#gua,#nita,#soy {
        top: 590px
    }

    #beza,#gua,#nita {
        top: 620px
    }

    #beza,#gua {
        top: 650px
    }

    #gua {
        top: 680px
    }

    #waterof {
        left: 50%;
        right: 0;
        top: 385px;
        font-size: 24px;
        text-decoration: underline
    }

    #ceb,#hor,#waterof {
        position: absolute;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        color: #fff;
        z-index: 3000
    }

    #hor {
        left: 50%;
        right: 0;
        font-size: 20px;
        top: 440px
    }

    #ceb {
        top: 470px
    }

    #ceb,#jam,#lim {
        left: 50%;
        right: 0;
        font-size: 20px
    }

    #jam {
        position: absolute;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        color: #fff;
        z-index: 3000;
        top: 500px
    }

    #lim {
        top: 530px
    }

    #lim,#melon,#pina {
        position: absolute;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        color: #fff;
        z-index: 3000
    }

    #melon {
        left: 50%;
        right: 0;
        font-size: 20px;
        top: 560px
    }

    #pina {
        top: 590px
    }

    #pina,#san,#tama {
        left: 50%;
        right: 0;
        font-size: 20px
    }

    #san {
        position: absolute;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        color: #fff;
        z-index: 3000;
        top: 620px
    }

    #tama {
        top: 650px
    }

    #costr,#fres,#peopler,#tama {
        position: absolute;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        color: #fff;
        z-index: 3000
    }

    #fres {
        right: 0;
        top: 680px;
        left: 50%;
        font-size: 20px
    }

    #costr,#peopler {
        left: -60px;
        font-size: 25px
    }

    #peopler {
        text-decoration: underline;
        top: 825px
    }

    #costr {
        top: 865px
    }

    #seventyr {
        left: 0;
        right: 0;
        top: 825px;
        text-decoration: underline
    }

    #hunedcostr,#hunedr,#seventycostr,#seventyr {
        position: absolute;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        font-size: 25px;
        color: #fff;
        z-index: 3000
    }

    #seventycostr {
        left: 0;
        top: 865px;
        right: 0
    }

    #hunedcostr,#hunedr {
        right: -60px
    }

    #hunedr {
        text-decoration: underline;
        top: 825px
    }

    #hunedcostr {
        top: 865px
    }

    #bistec,#guisos,#guisostext {
        position: absolute;
        left: 0;
        right: 0
    }

    #guisos {
        height: 600px;
        top: 1130px
    }

    #bistec,#guisostext {
        top: 0;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        font-size: 42px;
        color: #b51a00
    }

    #bistec {
        left: 35px;
        top: 140px;
        line-height: 30px;
        font-size: 25px;
        color: #fff;
        z-index: 3000
    }

    #diffbistec {
        left: -330px;
        top: 143px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #cochi,#diffbistec,#diffcochi,#rajas {
        position: absolute;
        right: 0;
        text-align: center;
        color: #fff
    }

    #cochi {
        z-index: 3000;
        line-height: 30px;
        left: 25px;
        top: 200px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px
    }

    #diffcochi,#rajas {
        left: -330px;
        top: 203px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #rajas {
        left: 15px;
        right: 15px;
        top: 260px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px;
        z-index: 3000;
        line-height: 30px
    }

    #diffrajas {
        left: -330px;
        right: 0;
        top: 263px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #chich,#diffchich,#diffrajas,#mar {
        position: absolute;
        text-align: center;
        color: #fff
    }

    #chich {
        z-index: 3000;
        line-height: 30px;
        left: 15px;
        right: 15px;
        top: 320px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px
    }

    #diffchich,#mar {
        left: -330px;
        right: 0;
        top: 323px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #mar {
        left: 25px;
        line-height: 30px;
        top: 380px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px;
        z-index: 3000
    }

    #diffmar {
        left: -330px;
        top: 383px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #diffmar,#diffrijol,#frijol {
        position: absolute;
        right: 0;
        text-align: center;
        color: #fff
    }

    #frijol {
        z-index: 3000;
        line-height: 30px;
        left: 10px;
        top: 440px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px
    }

    #diffrijol {
        left: -330px;
        top: 443px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #pollo {
        left: 25px;
        top: 500px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px;
        z-index: 3000;
        line-height: 30px
    }

    #cama,#diffpollo,#difftinga,#pollo,#tinga {
        position: absolute;
        right: 0;
        text-align: center;
        color: #fff
    }

    #diffpollo {
        left: -330px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px;
        top: 500px
    }

    #cama,#difftinga,#tinga {
        top: 560px
    }

    #tinga {
        z-index: 3000;
        line-height: 30px;
        left: 25px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px
    }

    #cama,#difftinga {
        left: -330px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #cama {
        left: 5px;
        top: 620px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px;
        z-index: 3000;
        line-height: 30px
    }

    #diffcama {
        left: -330px;
        top: 623px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #diffcama,#diffpuer,#puer {
        position: absolute;
        right: 0;
        text-align: center;
        color: #fff
    }

    #puer {
        z-index: 3000;
        line-height: 30px;
        left: 25px;
        top: 680px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px
    }

    #diffpuer {
        left: -330px;
        top: 683px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #mach {
        left: 10px;
        right: 0;
        top: 740px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px;
        z-index: 3000;
        line-height: 30px
    }

    #cost,#diffmach,#mach,#people {
        position: absolute;
        text-align: center;
        color: #fff
    }

    #diffmach {
        right: 0;
        top: 743px;
        left: -330px;
        font-family: 'Material Icons',sans-serif;
        font-size: 23px
    }

    #cost,#people {
        left: -60px;
        font-family: 'Handlee',sans-serif;
        font-size: 25px;
        z-index: 3000
    }

    #people {
        text-decoration: underline;
        top: 945px
    }

    #cost {
        top: 985px
    }

    #seventy {
        left: 0;
        right: 0;
        top: 945px;
        text-decoration: underline
    }

    #huned,#hunedcost,#seventy,#seventycost {
        position: absolute;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        font-size: 25px;
        color: #fff;
        z-index: 3000
    }

    #seventycost {
        left: 0;
        top: 985px;
        right: 0
    }

    #huned,#hunedcost {
        right: -60px
    }

    #huned {
        text-decoration: underline;
        top: 945px
    }

    #hunedcost {
        top: 985px
    }

    #extras {
        position: absolute;
        top: 2290px;
        left: 0;
        height: 400px;
        right: 0
    }

    #arro,#choco,#creme,#extrastext,#guac,#tacostwo {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        font-size: 42px;
        color: #b51a00
    }

    #arro,#choco,#creme,#guac,#tacostwo {
        top: 150px;
        font-size: 20px;
        color: #fff
    }

    #arro,#choco,#creme,#tacostwo {
        top: 210px
    }

    #arro,#choco,#tacostwo {
        top: 270px
    }

    #arro,#tacostwo {
        top: 330px
    }

    #tacostwo {
        -webkit-appearance: none;
        text-decoration: none;
        top: 440px;
        font-size: 17px;
        border-radius: 8px;
        height: 50px;
        width: 170px;
        border-color: transparent;
        background-color: #b51a00;
        cursor: pointer;
        outline: none;
        margin: auto
    }

    #bottom,#endstuf,#imgbotl {
        position: absolute;
        right: 0;
        z-index: 8000
    }

    #bottom {
        top: 3430px;
        left: 0;
        height: 510px;
        background-color: #000;
        overflow: hidden
    }

    .menutwo {
        position: absolute;
        display: none
    }

    #endstuf,#imgbotl {
        text-align: center
    }

    #endstuf {
        font-family: 'Handlee',sans-serif;
        font-size: 14px;
        color: #fff;
        background-color: #000;
        top: 94%;
        left: 0
    }

    a[href^=tel] {
        color: inherit;
        text-decoration: none
    }

    #imgbotl {
        left: 3%;
        margin: auto;
        top: 230px;
        height: 150px;
        width: 300px;
        background-image: url(http://i.imgur.com/cBAFUZv.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%
    }

    #imgleft {
        position: absolute;
        display: none
    }

    #colmail,#colnum,#con,#mail,#numba {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-family: 'Handlee',sans-serif;
        color: #fff;
        font-size: 29px
    }

    #colmail,#colnum,#mail,#numba {
        left: -140px;
        top: 70px;
        font-size: 22px
    }

    #colmail,#colnum,#mail {
        left: 60px;
        color: #b51a00
    }

    #colmail,#mail {
        left: -212px;
        top: 110px;
        color: #fff
    }

    #colmail {
        left: 60px;
        color: #b51a00
    }
}
