.top,body {
    width: 100%;
    background-color: #000
}

body {
    overflow: visible;
    height: auto
}

#need,.top {
    position: absolute;
    left: 0;
    right: 0
}

.top {
    height: 50px;
    top: 0
}

#need,#tacos {
    color: #fff;
    font-family: 'Handlee',sans-serif
}

#need {
    text-align: center;
    top: -7px;
    font-size: 19px
}

#tacos {
    -webkit-appearance: none;
    text-decoration: none;
    top: -10px;
    font-size: 17px;
    border-radius: 2px;
    height: 30px;
    width: 130px;
    border-color: transparent;
    background-color: #b51a00;
    cursor: pointer;
    outline: none
}

#siteimg {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: 400px;
    background-image: url(http://i.imgur.com/7p50tib.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

#logoimg {
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: transparent
}

img {
    position: relative;
    height: 150px;
    width: 300px;
    border-radius: 10px
}

#logoimg,.menuwrap {
    position: absolute
}

.littleme p {
    text-align: right
}

.littleme,.menuwrap,.toggle,[id^=drop] {
    display: none
}

.littleme {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: right;
    margin: 0;
    padding: 0;
    position: absolute
}

.littleme:after {
    content: "";
    display: table;
    clear: both
}

.littleme ul {
    padding: 0;
    left: -6%;
    right: 6%;
    list-style: none;
    position: relative;
    text-align: center
}

.littleme a,.littleme ul li {
    text-align: center;
    opacity: 1;
    display: block;
    background-color: #b51a00
}

.littleme ul li {
    height: auto;
    width: 100%;
    left: -6%;
    right: 6%
}

.littleme a {
    left: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    text-decoration: none
}

.littleme li>a:after {
    content: ' +'
}

.littleme li>a:only-child:after {
    content: ''
}

.menu,.toma {
    background-color: #000
}

.menu {
    left: 0;
    right: 0;
    z-index: 7000;
    position: absolute;
    top: 450px;
    width: 100%;
    height: 95px
}

.toma {
    position: relative;
    height: 30px;
    width: 30px;
    top: 5px;
    opacity: 0
}

#menutext {
    position: absolute;
    left: -80px;
    right: 0;
    top: -5px;
    bottom: 0;
    list-style: none;
    font-family: 'Handlee',sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
    vertical-align: middle
}

li {
    display: inline;
    padding: 0 30px
}

a {
    text-decoration: none;
    outline: none;
    color: #fff
}

a:hover .toma {
    opacity: 1;
    top: 5px;
    transition: .7s
}

.fixed {
    position: fixed;
    top: 0;
    height: 95px
}

#container {
    top: 450px;
    height: 1100px;
    background-image: url(http://i.imgur.com/FZDtDqG.jpg);
    background-position: center;
    background-repeat: repeat;
    opacity: .6;
    z-index: 999
}

#container,#formhead,.forma {
    position: absolute;
    left: 0;
    right: 0
}

#formhead {
    font-size: 36px;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    top: 600px;
    text-align: center;
    z-index: 5000;
    transition: .2s
}

.forma {
    top: 640px;
    height: 600px;
    width: 100%;
    text-align: left;
    z-index: 1002;
    background-color: transparent;
    transition: .35s
}

#phone {
    right: 109px;
    top: 80px;
    font-size: 22px;
    color: #fff;
    transition: .1s
}

#diffcolor,#maildiff,#mailstat,#phone {
    position: absolute;
    left: 0;
    text-align: right;
    font-family: 'Handlee',sans-serif
}

#diffcolor {
    right: 80px;
    top: 105px;
    color: #b51a00;
    font-size: 22px
}

#maildiff,#mailstat {
    font-size: 23px
}

#mailstat {
    transition: .5s;
    right: 110px;
    top: 170px;
    color: #fff
}

#maildiff {
    right: 40px;
    top: 195px;
    color: #b51a00
}

#actform,.nombre {
    background-color: transparent
}

#actform,input {
    font-family: 'Handlee',sans-serif
}

#actform {
    position: absolute;
    height: 600px;
    right: 0;
    z-index: 1002;
    top: 90px;
    left: 0;
    font-size: 21px;
    color: #fff
}

input {
    background-color: #000;
    font-size: 22px;
    color: #b51a00;
    padding-left: 8px;
    padding-right: 8px
}

.nombre {
    left: 30px;
    width: 50px;
    top: 0
}

#correodos,#nombredos {
    outline: none;
    border: solid 1px #b51a00;
    background-color: transparent;
    height: 40px;
    width: 375px
}

.correo,.nombre,.telefo {
    position: absolute
}

.correo {
    background-color: transparent;
    left: 40%;
    width: 50px;
    top: 0
}

.telefo {
    width: 150px;
    top: 80px
}

#telefodos,.telefo {
    left: 30px
}

.cuantos,.telefo,.tipo {
    background-color: transparent
}

.cuantos {
    position: absolute;
    width: 130px;
    left: 40%;
    top: 80px
}

#cuantosdos,#diados,#etedos,#telefodos,#tiempodos,#tipodos {
    outline: none;
    border: solid 1px #b51a00;
    background-color: transparent;
    height: 40px;
    width: 375px
}

.tipo {
    left: 30px;
    top: 160px
}

.dia,.ete,.tiempo,.tipo {
    position: absolute;
    width: 290px
}

.ete {
    background-color: transparent;
    left: 40%;
    top: 160px
}

.dia,.tiempo {
    top: 240px
}

.dia {
    background-color: transparent;
    left: 30px
}

.tiempo {
    left: 40%
}

.donde,.tiempo,textarea {
    background-color: transparent
}

.donde {
    position: absolute;
    text-align: left;
    left: 30px;
    top: 320px;
    width: 200px
}

textarea {
    border: solid 1px #b51a00;
    resize: none;
    font-family: 'Handlee',sans-serif;
    font-size: 23px;
    padding-left: 8px;
    padding-right: 8px;
    color: #b51a00;
    outline: none;
    width: 375px;
    height: 70px
}

#sendMessage,#usebut {
    position: absolute;
    left: 30px;
    top: 640px
}

#sendMessage {
    -webkit-appearance: none;
    top: 480px;
    cursor: pointer;
    height: 40px;
    width: 90px;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    border: 2px solid #b51a00;
    background-color: #000;
    color: #fff;
    border-radius: 10px
}

#thanks {
    position: absolute;
    left: 0;
    right: 0;
    top: 500px;
    width: 100%;
    height: 800px;
    background-color: transparent;
    z-index: 1001;
    overflow: hidden
}

.aftersent,.boxer {
    position: absolute;
    top: 250px
}

.boxer {
    right: -150%;
    height: 600px;
    width: 100%;
    background-color: #000;
    z-index: 100
}

.aftersent {
    left: 0;
    font-size: 28px;
    color: #fff;
    font-family: 'Handlee',sans-serif;
    z-index: 19
}

#afterlogo,.aftersent,.aftersent2 {
    text-align: center;
    right: -150%
}

.aftersent2 {
    font-size: 28px;
    color: #fff;
    font-family: 'Handlee',sans-serif;
    z-index: 19;
    top: 290px
}

#afterlogo,#phonetwo,.aftersent2 {
    position: absolute;
    left: 0
}

#afterlogo {
    margin: auto;
    border-radius: 220px;
    height: 100px;
    width: 400px;
    background-image: url(http://i.imgur.com/cBAFUZv.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 450px
}

#phonetwo {
    right: 23%;
    top: 625px;
    font-size: 22px;
    color: #fff
}

#diffcolortwo,#mailstattwo,#phonetwo {
    text-align: center;
    font-family: 'Handlee',sans-serif;
    z-index: 19
}

#diffcolortwo {
    position: absolute;
    right: 23%;
    left: 0;
    top: 650px;
    font-size: 22px;
    color: #b51a00
}

#mailstattwo {
    left: 12%;
    top: 625px;
    font-size: 23px;
    color: #fff
}

#bottom,#maildifftwo,#mailstattwo {
    position: absolute;
    right: 0
}

#maildifftwo {
    text-align: center;
    font-family: 'Handlee',sans-serif;
    font-size: 23px;
    color: #b51a00;
    left: 12%;
    top: 650px;
    z-index: 49
}

.goaway,.remform {
    display: none
}

#bottom {
    top: 1330px;
    left: 0;
    height: 220px;
    z-index: 8000;
    background-color: #000
}

#imgbotl {
    position: absolute;
    display: none
}

.menutwo {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0
}

#endstuf,#menutexttwo {
    position: absolute;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    right: 0;
    text-align: center
}

#menutexttwo {
    bottom: 0;
    list-style: none;
    vertical-align: middle;
    left: -80px;
    top: 20%;
    font-size: 15px
}

#endstuf {
    font-size: 14px;
    top: 170px;
    left: 0;
    z-index: 8000
}

@media all and (max-width:1024px) {
    .top,body {
        width: 100%;
        background-color: #000
    }

    body {
        overflow: visible;
        overflow-x: hidden;
        height: auto
    }

    #need,.top {
        position: absolute;
        left: 0;
        right: 0
    }

    .top {
        height: 90px;
        top: 50px
    }

    #need,#tacos {
        color: #fff;
        font-family: 'Handlee',sans-serif
    }

    #need {
        text-align: center;
        top: -15px;
        font-size: 26px
    }

    #tacos {
        -webkit-appearance: none;
        text-decoration: none;
        top: -10px;
        font-size: 23px;
        border-radius: 2px;
        height: 30px;
        width: 190px;
        border-color: transparent;
        background-color: #b51a00;
        cursor: pointer;
        outline: none
    }

    #logoimg,#siteimg {
        position: absolute;
        left: 0;
        right: 0
    }

    #siteimg {
        background-image: url(http://i.imgur.com/waq1vxF.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        top: 140px;
        height: 310px
    }

    #logoimg {
        top: 30%;
        text-align: center;
        height: auto;
        width: 100%;
        background-color: transparent
    }

    img {
        position: relative;
        height: 150px;
        width: 300px;
        border-radius: 10px
    }

    .littleme,.menuwrap {
        left: 0;
        right: 0;
        height: 50px
    }

    #alm,.menuwrap {
        top: 0;
        z-index: 10001
    }

    .menuwrap {
        transform: translate3d(0,0,0);
        width: 100%;
        display: inline;
        position: fixed
    }

    #alm {
        position: absolute;
        height: 48px;
        left: 0
    }

    #alm2 {
        height: 48px;
        width: 140px
    }

    .littleme {
        display: initial;
        text-align: center;
        z-index: 10000;
        overflow: visible;
        background-color: #000;
        opacity: 1;
        margin: 0
    }

    .othermenu,.toggle,.toggle+a {
        display: none;
        left: 0;
        right: 0;
        text-align: center
    }

    .toggle {
        display: block;
        text-align: right;
        background-color: #000;
        opacity: 1;
        top: 3px;
        position: absolute;
        color: #b51a00;
        font-size: 48px;
        font-weight: 100;
        line-height: 45px;
        text-decoration: none;
        font-family: 'Material Icons',sans-serif;
        z-index: 7000
    }

    #drop:checked+label {
        color: #b51a00
    }

    [id^=drop]:checked+label+ul {
        display: block
    }

    .littleme ul,.littleme ul li {
        left: -7.5%;
        right: 7.5%;
        text-align: center
    }

    .littleme ul li {
        display: block;
        width: 100%;
        z-index: 6000;
        border: none;
        font-family: 'Handlee',sans-serif
    }

    .littleme ul {
        padding: 0;
        list-style: none;
        position: relative
    }

    .menu {
        position: absolute;
        display: none
    }

    #container {
        top: 450px;
        height: 1150px;
        background-image: url(http://i.imgur.com/FZDtDqG.jpg);
        background-position: center;
        background-repeat: repeat;
        opacity: .6;
        z-index: 999
    }

    #container,#formhead,.forma {
        position: absolute;
        left: 0;
        right: 0
    }

    #formhead {
        font-size: 31px;
        font-family: 'Handlee',sans-serif;
        color: #fff;
        top: 600px;
        text-align: center;
        z-index: 5000;
        transition: .2s
    }

    .forma {
        top: 640px;
        height: 1050px;
        width: 100%;
        text-align: left;
        z-index: 1002;
        background-color: transparent;
        transition: .35s;
        overflow: hidden
    }

    #diffcolor,#maildiff,#mailstat,#phone {
        position: absolute;
        display: none
    }

    #actform,input {
        font-family: 'Handlee',sans-serif
    }

    #actform {
        position: absolute;
        top: 90px;
        height: 1050px;
        left: 0;
        right: 0;
        z-index: 1002;
        font-size: 21px;
        color: #fff;
        background-color: transparent
    }

    input {
        background-color: #000;
        font-size: 22px;
        color: #b51a00;
        padding-left: 8px;
        padding-right: 8px;
        margin: auto
    }

    .nombre {
        left: 30px;
        width: 50px;
        top: 0
    }

    #correodos,#nombredos {
        outline: none;
        border: solid 1px #b51a00;
        background-color: transparent;
        height: 40px;
        width: 250px
    }

    .correo,.nombre,.telefo {
        position: absolute;
        background-color: transparent
    }

    .correo {
        left: 30px;
        width: 50px;
        top: 160px
    }

    .telefo {
        width: 150px;
        top: 80px
    }

    #telefodos,.cuantos,.telefo {
        left: 30px
    }

    .cuantos {
        position: absolute;
        width: 130px;
        top: 240px
    }

    #cuantosdos,#diados,#etedos,#telefodos,#tiempodos,#tipodos {
        outline: none;
        border: solid 1px #b51a00;
        background-color: transparent;
        height: 40px;
        width: 250px
    }

    .cuantos,.ete,.tipo {
        background-color: transparent
    }

    .tipo {
        position: absolute;
        left: 30px;
        width: 290px;
        top: 400px
    }

    .ete {
        top: 320px
    }

    .dia,.ete,.tiempo {
        position: absolute;
        left: 30px;
        width: 290px
    }

    .dia {
        background-color: transparent;
        top: 480px
    }

    .tiempo {
        top: 560px
    }

    .donde,.tiempo,textarea {
        background-color: transparent
    }

    .donde {
        text-align: left;
        width: 200px
    }

    textarea {
        border: solid 1px #b51a00;
        resize: none;
        font-family: 'Handlee',sans-serif;
        font-size: 23px;
        padding-left: 8px;
        padding-right: 8px;
        color: #b51a00;
        outline: none;
        width: 250px;
        height: 70px
    }

    #sendMessage,#usebut,.donde {
        position: absolute;
        left: 30px;
        top: 640px
    }

    #sendMessage {
        -webkit-appearance: none;
        top: 760px;
        cursor: pointer;
        height: 40px;
        width: 90px;
        font-family: 'Lato',sans-serif;
        font-size: 20px;
        outline: none;
        text-decoration: none;
        border: 2px solid #b51a00;
        background-color: #000;
        color: #fff;
        border-radius: 10px
    }

    #thanks,.aftersent {
        position: absolute;
        left: 0
    }

    #thanks {
        right: 0;
        width: 100%;
        height: 800px;
        background-color: transparent;
        overflow: hidden;
        top: 500px;
        z-index: 1001
    }

    .aftersent {
        top: 250px;
        font-size: 28px;
        color: #fff;
        font-family: 'Handlee',sans-serif;
        z-index: 19;
        line-height: 40px
    }

    #afterlogo,.aftersent,.aftersent2 {
        text-align: center;
        right: -250%
    }

    .aftersent2 {
        font-size: 28px;
        color: #fff;
        font-family: 'Handlee',sans-serif;
        z-index: 19;
        line-height: 40px;
        top: 330px
    }

    #afterlogo,#phonetwo,.aftersent2 {
        position: absolute;
        left: 0
    }

    #afterlogo {
        margin: auto;
        border-radius: 220px;
        height: 100px;
        width: 300px;
        background-image: url(http://i.imgur.com/cBAFUZv.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        top: 450px
    }

    #phonetwo {
        right: 23%;
        top: 625px;
        font-size: 22px;
        color: #fff
    }

    #diffcolortwo,#mailstattwo,#phonetwo {
        text-align: center;
        font-family: 'Handlee',sans-serif;
        z-index: 19
    }

    #diffcolortwo {
        position: absolute;
        right: 23%;
        left: 0;
        top: 650px;
        font-size: 22px;
        color: #b51a00
    }

    #mailstattwo {
        left: 12%;
        top: 625px;
        font-size: 23px;
        color: #fff
    }

    #bottom,#maildifftwo,#mailstattwo {
        position: absolute;
        right: 0
    }

    #maildifftwo {
        text-align: center;
        font-family: 'Handlee',sans-serif;
        font-size: 23px;
        color: #b51a00;
        left: 12%;
        top: 650px;
        z-index: 49
    }

    .goaway,.menutwo,.remform {
        display: none
    }

    #bottom {
        top: 1630px;
        left: 0;
        height: 120px;
        z-index: 8000;
        background-color: #000
    }

    .menutwo {
        position: absolute
    }

    #endstuf,#imgbotl {
        position: absolute;
        right: 0;
        text-align: center
    }

    #imgbotl {
        height: 150px;
        width: 300px;
        background-image: url(http://i.imgur.com/cBAFUZv.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        left: 12%;
        top: 100px;
        z-index: 11000
    }

    #endstuf {
        font-family: 'Handlee',sans-serif;
        font-size: 14px;
        color: #fff;
        top: 170px;
        left: 0;
        z-index: 8000
    }
}
