.top,body {
    width: 100%;
    background-color: #000
}

body {
    left: 0;
    right: 0;
    overflow: visible;
    height: auto
}

#need,.top {
    position: absolute;
    left: 0;
    right: 0
}

.top {
    height: 50px;
    top: 0
}

#need,#tacos {
    color: #fff;
    font-family: 'Handlee',sans-serif
}

#need {
    text-align: center;
    top: -7px;
    font-size: 19px
}

#tacos {
    -webkit-appearance: none;
    text-decoration: none;
    top: -10px;
    font-size: 17px;
    border-radius: 2px;
    height: 30px;
    width: 130px;
    border-color: transparent;
    background-color: #b51a00;
    cursor: pointer;
    outline: none
}

#logoimg,#siteimg {
    left: 0;
    right: 0;
    width: 100%
}

#siteimg {
    position: absolute;
    background-image: url(http://i.imgur.com/YZMEYFU.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    top: 50px;
    height: 400px
}

#logoimg {
    top: 30%;
    text-align: center;
    height: auto;
    background-color: transparent
}

img {
    position: relative;
    height: 150px;
    width: 300px;
    border-radius: 10px
}

#logoimg,.menuwrap {
    position: absolute
}

.littleme p {
    text-align: right
}

.littleme,.menuwrap,.toggle,[id^=drop] {
    display: none
}

.littleme {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: right;
    margin: 0;
    padding: 0;
    position: absolute
}

.littleme:after {
    content: "";
    display: table;
    clear: both
}

.littleme ul {
    padding: 0;
    left: -6%;
    right: 6%;
    list-style: none;
    position: relative;
    text-align: center
}

.littleme a,.littleme ul li {
    text-align: center;
    opacity: 1;
    display: block;
    background-color: #b51a00
}

.littleme ul li {
    height: auto;
    width: 100%;
    left: -6%;
    right: 6%
}

.littleme a {
    left: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    text-decoration: none
}

.littleme li>a:after {
    content: ' +'
}

.littleme li>a:only-child:after {
    content: ''
}

.menu,.toma {
    background-color: #000
}

.menu {
    left: 0;
    right: 0;
    z-index: 10000;
    position: absolute;
    top: 450px;
    width: 100%;
    height: 95px
}

.toma {
    position: relative;
    top: 5px;
    height: 30px;
    width: 30px;
    opacity: 0
}

#menutext {
    position: absolute;
    left: -80px;
    right: 0;
    top: -5px;
    bottom: 0;
    list-style: none;
    font-family: 'Handlee',sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
    vertical-align: middle
}

li {
    display: inline;
    padding: 0 30px
}

a {
    text-decoration: none;
    outline: none;
    color: #fff
}

a:hover .toma {
    opacity: 1;
    transition: .7s
}

.fixed {
    position: fixed;
    top: 0;
    height: 95px;
    width: 100%
}

.info {
    top: 590px;
    height: 750px;
    width: 100%;
    z-index: 1001;
    background-color: #000
}

#formhead,#taquiza,.info {
    position: absolute;
    right: 0;
    left: 0
}

#formhead {
    text-align: center;
    font-size: 36px;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    z-index: 5000;
    top: 10px
}

#taquiza {
    top: 110px;
    height: 800px
}

#include,#taquizatext {
    position: absolute;
    left: 7px;
    right: 0;
    top: 40px;
    text-align: left;
    font-family: 'Handlee',sans-serif;
    font-size: 29px;
    color: #b51a00
}

#include {
    left: 160px;
    right: 10px;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 27px;
    color: #fff;
    font-weight: 100;
    line-height: 40px
}

#lindapic,#lizpic {
    position: absolute;
    left: 0;
    top: 120px;
    width: 130px;
    height: 90px;
    background-image: url(http://images-cdn.moviepilot.com/images/c_fill,h_2739,w_3879/t_mp_quality/mgdzadzhpt7qdxn7ultr/why-gal-gadot-s-epic-wonder-woman-plans-got-shot-down-will-dc-let-gal-gadot-escape-the-s-411708.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 80px
}

#lindapic {
    top: 440px;
    height: 85px;
    background-image: url(http://acpcpueblo.org/wp-content/uploads/2012/08/MP900414100.jpg)
}

#includetwo,#texttwo {
    position: absolute;
    left: 2px;
    right: 0;
    top: 350px;
    text-align: left;
    font-family: 'Handlee',sans-serif;
    font-size: 28px;
    color: #b51a00
}

#includetwo {
    left: 160px;
    right: 10px;
    top: 360px;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 27px;
    color: #fff;
    font-weight: 100;
    line-height: 40px
}

#bottom,#menutexttwo {
    position: absolute;
    right: 0
}

#bottom {
    height: 100px;
    z-index: 8000;
    top: 1700px;
    left: 0
}

.menutwo {
    top: 10%;
    width: 100%;
    bottom: 0
}

#menutexttwo {
    left: -80px;
    top: 20%;
    bottom: 0;
    list-style: none;
    font-family: 'Handlee',sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: center;
    vertical-align: middle
}

#botstuff,#endstuf,.menutwo {
    position: absolute;
    left: 0;
    right: 0
}

#endstuf {
    font-family: 'Handlee',sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
    z-index: 8000;
    top: 110%
}

#botstuff {
    height: 300px;
    top: 1460px
}

#colmail,#colnum,#con,#mail,#numba {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Handlee',sans-serif;
    color: #fff;
    font-size: 26px
}

#colmail,#colnum,#mail,#numba {
    left: -140px;
    top: 90px;
    font-size: 22px
}

#colmail,#colnum,#mail {
    left: 60px;
    color: #b51a00
}

#colmail,#mail {
    left: -212px;
    top: 140px;
    color: #fff
}

#colmail {
    left: 60px;
    color: #b51a00
}

#imgbotl,#imgleft {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 8000
}

#imgbotl {
    right: 0;
    top: -30px;
    height: 300px;
    width: 400px;
    background-image: url(http://i.imgur.com/cBAFUZv.png)
}

#imgleft {
    left: 45px;
    top: 35px;
    height: 150px;
    width: 300px;
    background-image: url(http://i.imgur.com/Gj3MwMA.jpg);
    border-radius: 120px
}

@media all and (max-width:1024px) {
    .top,body {
        width: 100%;
        background-color: #000
    }

    body {
        left: 0;
        right: 0;
        overflow: visible;
        overflow-x: hidden;
        height: auto
    }

    #need,.top {
        position: absolute;
        left: 0;
        right: 0
    }

    .top {
        height: 90px;
        top: 50px
    }

    #need,#tacos {
        color: #fff;
        font-family: 'Handlee',sans-serif
    }

    #need {
        text-align: center;
        top: -15px;
        font-size: 26px
    }

    #tacos {
        -webkit-appearance: none;
        text-decoration: none;
        top: -10px;
        font-size: 23px;
        border-radius: 2px;
        height: 30px;
        width: 190px;
        border-color: transparent;
        background-color: #b51a00;
        cursor: pointer;
        outline: none
    }

    #logoimg,#siteimg {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%
    }

    #siteimg {
        background-image: url(http://i.imgur.com/YZMEYFU.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        top: 140px;
        height: 310px
    }

    #logoimg {
        top: 30%;
        text-align: center;
        height: auto;
        background-color: transparent
    }

    img {
        position: relative;
        height: 150px;
        width: 300px;
        border-radius: 10px
    }

    .littleme,.menuwrap {
        left: 0;
        right: 0;
        height: 50px
    }

    #alm,.menuwrap {
        top: 0;
        z-index: 10001
    }

    .menuwrap {
        transform: translate3d(0,0,0);
        width: 100%;
        display: inline;
        position: fixed
    }

    #alm {
        position: absolute;
        height: 48px;
        left: 0
    }

    #alm2 {
        height: 48px;
        width: 140px
    }

    .littleme {
        display: initial;
        text-align: center;
        z-index: 10000;
        overflow: visible;
        background-color: #000;
        opacity: 1;
        margin: 0
    }

    .othermenu,.toggle,.toggle+a {
        display: none;
        left: 0;
        right: 0;
        text-align: center
    }

    .toggle {
        display: block;
        text-align: right;
        background-color: #000;
        opacity: 1;
        top: 3px;
        position: absolute;
        color: #b51a00;
        font-size: 48px;
        font-weight: 100;
        line-height: 45px;
        text-decoration: none;
        font-family: 'Material Icons',sans-serif;
        z-index: 7000
    }

    #drop:checked+label {
        color: #b51a00
    }

    [id^=drop]:checked+label+ul {
        display: block
    }

    .littleme ul,.littleme ul li {
        left: -7.5%;
        right: 7.5%;
        text-align: center
    }

    .littleme ul li {
        display: block;
        width: 100%;
        z-index: 6000;
        border: none;
        font-family: 'Handlee',sans-serif
    }

    .littleme ul {
        padding: 0;
        list-style: none;
        position: relative
    }

    .menu {
        display: none
    }

    .info,.menu,.menutwo {
        position: absolute
    }

    .info {
        left: 0;
        right: 0;
        top: 590px;
        height: 750px;
        width: 100%;
        z-index: 1001;
        background-color: #000
    }

    #formhead,#taquiza {
        position: absolute;
        right: 0;
        left: 0
    }

    #formhead {
        text-align: center;
        font-size: 36px;
        font-family: 'Handlee',sans-serif;
        color: #fff;
        z-index: 5000;
        top: 10px
    }

    #taquiza {
        top: 110px;
        height: 800px
    }

    #include,#taquizatext {
        position: absolute;
        left: 7px;
        right: 0;
        top: 40px;
        text-align: left;
        font-family: 'Handlee',sans-serif;
        font-size: 23px;
        color: #b51a00
    }

    #include {
        left: 120px;
        right: 10px;
        font-family: 'Open Sans Condensed',sans-serif;
        font-size: 22px;
        color: #fff;
        font-weight: 100;
        line-height: 19px
    }

    #lindapic,#lizpic {
        position: absolute;
        left: 0;
        top: 120px;
        width: 130px;
        height: 90px;
        background-image: url(http://images-cdn.moviepilot.com/images/c_fill,h_2739,w_3879/t_mp_quality/mgdzadzhpt7qdxn7ultr/why-gal-gadot-s-epic-wonder-woman-plans-got-shot-down-will-dc-let-gal-gadot-escape-the-s-411708.jpg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 80px
    }

    #lindapic {
        top: 440px;
        height: 85px;
        background-image: url(http://acpcpueblo.org/wp-content/uploads/2012/08/MP900414100.jpg)
    }

    #includetwo,#texttwo {
        position: absolute;
        left: 2px;
        right: 0;
        top: 560px;
        text-align: left;
        font-family: 'Handlee',sans-serif;
        font-size: 21px;
        color: #b51a00
    }

    #includetwo {
        left: 120px;
        right: 10px;
        top: 570px;
        font-family: 'Open Sans Condensed',sans-serif;
        font-size: 22px;
        color: #fff;
        font-weight: 100;
        line-height: 19px
    }

    #bottom,#endstuf {
        left: 0;
        z-index: 8000
    }

    #bottom {
        position: absolute;
        right: 0;
        height: 510px;
        top: 1700px
    }

    .menutwo {
        display: none
    }

    #endstuf {
        font-family: 'Handlee',sans-serif;
        font-size: 14px;
        color: #fff;
        top: 94%;
        text-align: center
    }

    a[href^=tel] {
        color: inherit;
        text-decoration: none
    }

    #botstuff,#con,#endstuf,#numba {
        position: absolute;
        right: 0
    }

    #botstuff {
        left: 0;
        height: 300px;
        top: 1460px
    }

    #con,#numba {
        text-align: center;
        color: #fff
    }

    #con {
        font-family: 'Handlee',sans-serif;
        font-size: 29px;
        top: 240px;
        left: 0
    }

    #numba {
        left: -140px;
        top: 310px
    }

    #colnum,#mail,#numba {
        font-family: 'Handlee',sans-serif;
        font-size: 22px
    }

    #colnum {
        position: absolute;
        right: 0;
        text-align: center;
        left: 60px;
        top: 310px;
        color: #b51a00
    }

    #mail {
        left: -212px;
        top: 350px;
        color: #fff
    }

    #colmail,#imgbotl,#mail {
        position: absolute;
        text-align: center;
        right: 0
    }

    #colmail {
        font-family: 'Handlee',sans-serif;
        color: #b51a00;
        font-size: 22px;
        left: 60px;
        top: 350px
    }

    #imgbotl {
        left: 12%;
        top: 467px;
        height: 150px;
        width: 300px;
        background-image: url(http://i.imgur.com/cBAFUZv.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 8000
    }

    #imgleft {
        position: absolute;
        display: none
    }
}
